# Core dependencies
pandas>=1.3.5
scikit-learn>=1.0.2
numpy>=1.21.2
joblib>=1.2.0
click>=8.0.3  # For CLI handling
streamlit
tensorflow
keras
matplotlib
# Development setup
git+https://github.com/sudiptodata/child_nutrition.git@552419937cd31a810b74de48c5603dc9245387a2
